* /* CSS TABLE OF CONTENTS 
  # GLOBALS
    # RESET
    # COLORS
    # TYPOGRAPHY
        # HEADINGS
        # PARAGRAPHS
        # LINKS
        # TYPE SPECIMEN
  # MEDIA
    # IMAGES
  # COMPONENTS
    # BUTTONS
  # LAYOUT
    # CONTAINER
    # BESPOKE LAYOUT HELPERS
  # STRUCTURE
    # HEADER
    # FOOTER
    # NAV
    # MAIN
    # SECTIONS
  # ANIMATIONS
    # @KEYFRAME
    # SCROLL-TRIGGERED
*/

/* GLOBAL RESETS */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8);
}

a { color: rgba(0,0,0,.9);}
a:hover { color: rgb(0, 0, 0); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: 'Unna', serif;
    font-weight: 400;
    font-size: 87.5%; /* 14px */
    line-height: 1.4;
}
h1,h2,h3 { font-weight: normal; }
p { max-width: 35em; }

@media (min-width: 768px) {
  p.two-col {
    column-count: 2;
    column-gap: 4em;
    max-width: 50em;
  }
}
a { text-decoration: none;}

/* TYPE SPECIMEN */
.headline {
    font-size: 4em;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 .4em 0;
}
.subheadline {
    font-size: 2em;
    font-weight: 300;
    line-height: 1;
    margin: 0 0 .6em 0;
    color: rgb(168, 0, 112); 
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}

img.circular {
    display: block;
    border-radius: 100%;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTONS */
/* .button {
    font-family: 'Unna', serif;
    display: inline-block;
    color: rgba(75, 0, 50);
    border: 1px solid rgba(255, 255, 255);
    border-radius: 3em;
    padding: 1em 2em;
    margin: 1em;
}
.button:hover {
    background-color: rgb(49, 0, 33);
    color: rgba(255,255,255,1);
    border-color: rgb(255, 255, 255);
} */

.button {
  font-family: 'Nanum Gothic', sans-serif;
  display: inline-block;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 1em;
  border: 1px solid rgba(75, 0, 50);
  color: rgba(75, 0, 50);
  /*color: rgba(0, 51, 102, 1); */
  /* transition: all .4s ease-out; */
}

.button:hover {
  background: rgba(75, 0, 50);
  color: rgba(255, 255, 255, 1);
}

/* BESPOKE LAYOUT STRUCTURE */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  /* MAIN CONTENT */
  
  main { padding: 5em 0; }
  section {
    padding: 2em;
    min-height: 90vh;
    display: grid;
    align-items: center;
    justify-content: center;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HERO */
/* .hero {
  text-align: center;
  background-image: url('../img/color-tiles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6em 1em;
  margin: 2em 0;
} */


/* BESPOKE GRID SYSTEM */

/* .row {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-column-gap: 2em;
  justify-content: center;
  align-items: center;
} */

.row {
  display: flex;
  align-items: center;
}

.row.flippit {
  flex-direction: row-reverse;
}

.col {
  margin: 2%;
}

.half { width: 46%; }
.third { width: 29.3333%; }
.two-thirds { width: 62.6666%; }

/* SITE STRUCTURE */

.site-header,
  .site-footer {
    text-align: center;
    margin: 1em 0;
    padding-bottom: 1em;
  }
  
  .site-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  
  .site-header h1 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
  }
  
  .site-header h1 a {
    color: rgb(168, 0, 112);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em;
    display: inline-block;
    transition: .2s ease-out all;
  }
  
  .site-header h1 a:hover {
    color: rgba(0, 0, 0, 1);
  }

  .work {
    position: center;
    text-align: center;
    font-size: 6em;
    color: rgba(75, 0, 50);
    text-transform: uppercase;
  }

  .about {
    position: center;
    text-align: center;
    font-size: 6em;
    color: rgba(75, 0, 50);
    text-transform: uppercase;
  }

  .contact {
    position: center;
    text-align: center;
    font-size: 6em;
    color: rgba(75, 0, 50);
    text-transform: uppercase;
  }
  

/* SITE NAV */

.site-navigation ul {
    padding: 0;
    margin: 1em 1.5em 0 0;
  }
  
  .site-navigation ul li {
    display: inline-block;
  }
  
  .site-navigation ul li a {
    display: block;
    padding: 1em 0.5em;
    margin: 0 .2em;
    color: rgb(168, 0, 112);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .2s ease-out all;
  }
  
  .site-navigation ul li a:hover {
    border-bottom: 2px solid rgb(255, 218, 243);
    color: rgb(255, 218, 243);
  }
  
  .site-navigation ul li a.selected {
    border-bottom: 2px solid rgb(255, 149, 220);
  }

    /* FEATURED PROJECTS ON HOME PAGE */
@media (min-width: 768px) {

  .featuredproject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .featuredproject.swapped {
    flex-direction: row-reverse;
  }
  .featuredproject .image-wrapper {
    width: 49%;
  }
  .featuredproject .text-wrapper {
    width: 49%;
    padding: 3em;
  }

}

/* ABOUT PAGE */
.about {
  background-color: rgba(200, 200, 200, 1);
}

/* CONTACT PAGE */

form {
  max-width: 600px;
  background:  rgb(168, 0, 112);
  padding: 2em 3em 2em 3em;
  color: rgb(255, 244, 251);
  line-height: 2.5em;
}

label,
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}

label {
  margin-top: 1.5em;
  margin-bottom: .25em;
}

input[type="text"],
textarea {
  border: 1px solid #ccc;
  padding: .5em;
  color: #667;
  font-size: 1em;
  background: #eee;
  color: #444;
  font-size: inherit;
}

textarea {
  min-height: 10em;
  line-height:1.5;

}

input[type="submit"] {
  margin-top: 1.5em;
  width: auto;
  font-size: inherit;
}

/* PROJECT PAGES */
.project main {
  padding: 0;
  background-color: rgba(255, 255, 255);
}

.project .section {
  width: 100%;
  padding: 0;
}

.project section:nth-child(even) {

}

.project .hero {
  background-color: rgba(221, 221, 221, 1);
}

/* ANIMATION */
@keyframes slide-in {
  from { transform:translate(0,-20px); opacity: 0; }
  to { transform:translate(0,0); opacity: 1; }
}

.slide-in-parent > * {
  opacity: 0;
  animation: slide-in ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: .4s;
  animation-delay: 0;
}

.slide-in-parent > *:nth-child(2) { animation-delay: .15s; }
.slide-in-parent > *:nth-child(3) { animation-delay: .25s; }
.slide-in-parent > *:nth-child(4) { animation-delay: .35s; }

/* FOR LOCAL DEV TESTING
* {
    margin: 0; padding: 10px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1) !important;
    background-image: none !important;
    border-color: rgba(0,0,0,0) !important; 
} */

  /* body { background-color: rgba(255,255,0,.2) !important; }
  .site-id { background-color: rgba(255,0,0,.2) !important; }
  .site-nav { background-color: rgba(0,255,0,.2) !important; }
  .site-footer { background-color: rgba(0,0,255,.2) !important; } */